nav {
    display: block;
    
}

#navbar {
    position: fixed;
    height: 100%;
    width: 300px;
    margin: 0%;
    overflow-y: scroll;
}

ul {
    display: block;
    height: 88%;
    margin: 0;
    list-style-type: none;
}

li {
    font-family: "Raleway", sans-serif;
    margin-top: 20px;
    border: black;
    padding: 5px;
    border-color: black;
    height: 24px;
}

main {
    background-color: whitesmoke;
    
}

#main-doc {
    position: absolute;
    margin-left: 310px;
}

p {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Raleway", sans-serif;
}

h2 {
    font-family: "Raleway", sans-serif;
}
h3 {
    font-family: "Raleway", sans-serif;
}
